td {
    height: 150px;
    width: 150px;
    text-align: center;
    border: 5px solid rgb(54, 127, 224) !important;
    font-size: 100px;
    border-width: 5px !important;
}

#id{
    color: aqua;
    border-radius: 2rem;
    border: none;
    transition: all ease-in-out 0.6s;
}

#id:hover{
    scale:1.09
}